.nominations-wrapper {
    padding: 100px 0px 0px 0px;
}

.container {
}

.nominations {
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.nominations-king {
    display: flex;
    margin: 0px 0px 60px 0px;
}

.nominations-card-king {
    width: 600px;
    height: 670px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000;
}

.nominations-nomination {
    display: flex; 
    flex-wrap: wrap;
}

.nominations-card {
    width: 400px;
    height: 570px;
    align-items: center;
    margin: 0px 0px 60px 0px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nominations-card-half {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid #000;
}

.nominations-card_img {
    width: 260px;
}

.nominations-card_img img {
    width: 100%;
}

.nominations-card_img-king {
    width: 320px;
}

.nominations-card_img-king img {
    width: 100%;
}

.nominations-card_img-king-activ {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.nominations-card_img-king-activ img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.nominations-card_img-activ {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.nominations-card_img-activ img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.nominations-card_img-activ-king {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.nominations-card_img-activ-king img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.nominations-card_nomination {
    padding: 10px 0px;
    font-size: 60px;
    color: #fff0e5;
    text-align: center;
}

.nominations-card_name {
    padding: 10px 0px;
    font-size: 28px;
    color: #808080;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.nominations-card_buttom {
    display: block;
    width: 260px;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 26px;
    color: #fff0e5;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.nominations-card_buttom:hover {
    background-color: #808080;
}
