/* затемняющий фон */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* сама модалка */
.modal {
    background: #111115;
    padding: 20px 30px;
    border-radius: 8px;
    border: 2px solid #1b6919;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    position: relative;
}

.modal h2 {
    padding: 30px 0px;
    font-size: 30px;
    color: #fff0e5;
    text-align: center;
}

/* кнопка закрытия */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}


.modal__close span {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999;
}

.modal__close span::after,
.modal__close span::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #1b6919;
}

.modal__close span::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close span::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
