@import url("./nullStyle.css");

/* сам скроллбар */
::-webkit-scrollbar {
    width: 3px; /* ширина вертикального */
}

/* дорожка */
::-webkit-scrollbar-track {
    background: #1a691962;
    border-radius: 3px;
}

/* ползунок */
::-webkit-scrollbar-thumb {
    background: #1b6919;
    border-radius: 3px;
}

/* при наведении */
::-webkit-scrollbar-thumb:hover {
    background: #2aa728;
}


body {
    background-color: #151516;
    overflow-x: hidden;
}

body.modal-open {
    overflow: hidden;
}


.container {
	margin: 0 auto;
}

.Background {
    position: fixed;
    width: 100%;
    z-index: -2;
}

.Background img {
    width: 100vw;
    min-height: 100vh;
}